.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
  
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .navList {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        margin-left: 1.5rem;
  
        a {
          text-decoration: none;
          color: #333;
          font-weight: 500;
  
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  