@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.dropdownWrapper {
    position: relative;
}

.trigger {
    @include flex-between;
    width: 100%;
    height: 48px;
    padding: 0 $spacing-16;
    border: 1px solid $color-gray-200;
    border-radius: $radius-8;
    font-size: $font-size-15;
    color: $color-gray-500;
    background-color: $color-background;

    &.open {
        border-color: $color-label-primary;
        border-radius: $radius-8 $radius-8 0 0;
    }

    &.disabled {
        background-color: $color-gray-100;
        color: $color-gray-400;
        cursor: not-allowed;
        border-color: $color-gray-200;
    }
}

.icon {
    transition: transform 0.2s ease;

    &.rotated {
        transform: rotate(180deg);
    }
}

.menu {
    background-color: $color-background;
    border: 1px solid $color-label-primary;
    border-top: none;
    border-radius: 0 0 $radius-8 $radius-8;
    overflow: hidden;
}

.item {
    width: 100%;
    padding: $spacing-12 $spacing-16;
    font-size: $font-size-14;
    color: $color-label-primary;
    text-align: left;
    background-color: $color-background;
    border: none;
    cursor: pointer;

    &:not(:last-child) {
        border-bottom: 1px solid $color-gray-100;
    }

    &:hover:not(.disabled) {
        background-color: $color-gray-100;
    }

    &.disabled {
        color: $color-gray-400;
        cursor: not-allowed;
    }
}