
.container {
    @include mobile-container;
}

.main {
    padding-top: $spacing-16;
    background-color: $color-background;
    min-height: calc(100vh - $header-height);
}

.loading,
.error {
    @include flex-center;
    height: 200px;
    font-size: $font-size-14;
    color: $color-label-secondary;
}

.loadingTrigger {
    min-height: 60px;
}

.loadingMore {
    @include flex-center;
    padding: $spacing-20 0;
}

.endMessage {
    @include flex-center;
    padding: $spacing-20 0;
    font-size: $font-size-12;
    color: $color-label-tertiary;
}

// 스피너 인디케이터
.spinner {
    width: 24px;
    height: 24px;
    border: 2px solid $color-gray-200;
    border-top-color: #00C7BE;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}