
.ratingRow {
    @include flex-start;
    align-items: center;
    gap: 8px;
}

.ratingGroup {
    @include flex-start;
    align-items: center;
    gap: 2px;

    img {
        flex-shrink: 0;
    }
}

.likeGroup {
    @include flex-start;
    align-items: center;
    gap: 2px;

    img {
        flex-shrink: 0;
    }
}

.rating {
    font-size: $font-size-11;
    font-weight: $font-weight-regular;
    color: $color-gray-550;
}

.reviewCount {
    font-size: $font-size-11;
    font-weight: $font-weight-regular;
    color: $color-gray-550;
}

.reviewLabel {
    font-size: $font-size-12;
    font-weight: $font-weight-semibold;
    color: $color-gray-500;
    text-decoration: underline;
    margin-left: 4px;
}

.likeCount {
    font-size: $font-size-11;
    font-weight: $font-weight-regular;
    color: $color-gray-550;
}