@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.card {
    @include flex-column;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: $radius-8;
    overflow: hidden;

    // 딤 레이어
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.02);
        pointer-events: none;
    }
}

.likeIcon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    @include flex-column;
}

// 브랜드명
.brand {
    font-size: $font-size-11;
    font-weight: $font-weight-regular;
    color: $color-gray-500;
    line-height: 1.6;
}

// 상품명
.name {
    margin: 0;
    font-size: $font-size-13;
    font-weight: $font-weight-regular;
    color: $color-gray-800;
    line-height: 1.4;
    @include text-truncate(2);
    margin-top: 2px;
}

// 가격 영역
.priceRow {
    @include flex-start;
    align-items: baseline;
    gap: 2px;
    margin-top: 4px;
}

// 할인율
.discount {
    font-size: $font-size-15;
    font-weight: $font-weight-bold;
    color: $color-red;
}

// 할인가
.price {
    font-size: $font-size-15;
    font-weight: $font-weight-bold;
    color: $color-gray-800;

}


// 별점 영역
.ratingRow {
    @include flex-start;
    align-items: center;
    gap: 8px;
}

// 별점 그룹
.ratingGroup {
    @include flex-start;
    align-items: center;
    gap: 2px;

    img {
        flex-shrink: 0;
    }
}

// 찜수 그룹
.likeGroup {
    @include flex-start;
    align-items: center;
    gap: 2px;

    img {
        flex-shrink: 0;
    }
}

// 별점 숫자
.rating {
    font-size: $font-size-11;
    font-weight: $font-weight-regular;
    color: $color-gray-550;
}

// 리뷰 개수
.reviewCount {
    font-size: $font-size-11;
    font-weight: $font-weight-regular;
    color: $color-gray-550;
}


// 좋아요 개수
.likeCount {
    font-size: $font-size-11;
    font-weight: $font-weight-regular;
    color: $color-gray-550;
}

// 배송 정보
.deliveryInfo {
    font-size: $font-size-11;
    color: $color-gray-500;
    margin-top: 4px;
}

// 배송/쿠폰 배지
.badges {
    @include flex-start;
    gap: 4px;
    margin-top: 4px;
}

.badgeFreeDelivery {
    padding: 3px 4px;
    border-radius: $radius-2;
    background: $color-divider;
    font-size: $font-size-9;
    font-weight: $font-weight-semibold;
    color: $color-gray-600;
}

.badgeCoupon {
    padding: 3px 4px;
    border-radius: $radius-2;
    background: $color-purple-100;
    font-size: $font-size-9;
    font-weight: $font-weight-semibold;
    color: $color-purple-800;
}

// 태그
.tags {
    @include flex-start;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 6px;
}

.tag {
    padding: 2px 6px;
    background-color: #F5F5F5;
    border-radius: 4px;
    font-size: 10px;
    color: $color-gray-500;
}