
.header {
    @include flex-between;
    position: sticky;
    top: 0;
    height: $header-height;
    padding: 14px 20px;
    background-color: $color-background;
    z-index: 50;

    &.transparent {
        background-color: transparent;
    }
}

.left {
    @include flex-start;
}

.title {
    margin: 0;
    font-size: $font-size-20;
    font-weight: $font-weight-semibold;
    color: $color-gray-800;
}

.right {
    @include flex-start;
    gap: $spacing-16;
}

.iconButton {
    @include flex-center;
    width: 24px;
    height: 24px;
}