@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.header {
    @include flex-between;
    position: sticky;
    top: 0;
    height: $header-height;
    padding: 0 $spacing-16;
    background-color: $color-background;
    z-index: 50;
}

.left {
    @include flex-start;
}

.title {
    margin: 0;
    font-size: $font-size-17;
    font-weight: $font-weight-semibold;
    color: $color-label-primary;
}

.right {
    @include flex-start;
    gap: $spacing-16;
}

.iconButton {
    @include button-reset;
    @include flex-center;
    width: 24px;
    height: 24px;
    color: $color-label-primary;
}